import(magrittr)
import(dplyr)
import(fabletools)
import(fable)
import(ggplot2)
import(feasts)
import(nnet)
import(fable.prophet)
import(distributional)
exportPattern("^[[:alpha:]]+")
export(MonthModelFitter)
export(MonthModelPicker)
export(DayWModelFitter)
export(DayWModelPicker)
